.recipe {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    img {
        /* width: 100%; */
        border-radius: 2rem;
    }

    a {
        padding: 1rem;
        border: 2px solid green;
        background-color: transparent;
    }

    button {
        margin-top: 2rem;
        align-self: start;
    }

    @media screen and (min-width: 600px) {
        a {
            font-size: 1.4em;
        }
    }

    @media screen and (min-width: 900px) {
        a {
            font-size: 2em;
        }
    }
}